@page "/Reservas"

@inject NavigationManager NavigationManager

<!--NavBar-->

<nav class="navbar bg navbar-expand-lg shadow-lg " data-bs-theme="dark" style="background-color: #9BEEFF;">
    <div class="container-fluid">
        <a class="nombrenav navbar-brand" @onclick="Bienvenido">
            <img src="./Imagenes/si.png" alt="Logo" width="30" height="30" class="rounded-circle" />
            LunchSoft
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="Centro nav-item">
                    <a class="nombrenav nav-link" @onclick="Comidas">Comidas</a>
                </li>
                <li class="Centro nav-item">
                    <a class="nombrenav nav-link" @onclick="Bebidas">Bebidas</a>
                </li>
                <li class="Centro nav-item">
                    <a class="nombrenav nav-link active" aria-current="page" @onclick="Reservas1">Reservas</a>
                </li>
                <li class="Mover nav-item dropdown">
                    <img src="./Imagenes/epico.png" class="nav-link dropdown-toggle rounded-circle" width="50" height="50" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" />
                    <ul class=" bg dropdown-menu" style="background-color: #9BEEFF;">
                        <li><a class="nombrenav dropdown-item" @onclick="Vista">Vista Mesero</a></li>
                        <li><a class="nombrenav dropdown-item" @onclick="Cerrar">Cerrar Session</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Titulo-->

<div class="Titulo">

    <h3 class="nombre text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">Reservas</h3>
    <h3 class="nombre2 text-center fs-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded">Aqui puedes añadir la informacion de la Reserva que el cliente quiera hacer para la vista del Jefe de Cocina</h3>
    <div class="boton text-center ">
        <button type="button" class="btn btn-outline-primary shadow-lg rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar una Reserva</button>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">@(modoEdicion ? "Editar La Informacion" : "Agregar Una Informacion")</h1>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3 ">
                    <input type="file" class="dato form-control" id="inputGroupFile02" @bind="@nuevaImagenUrl">
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="dato form-control" id="floatingInput" placeholder="salchichas" @bind="@nuevoNombre">
                    <label for="floatingInput">Nombre de Comida</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="dato form-control" id="floatingInput" placeholder="Contiene..." @bind="@nuevaDescripcion">
                    <label for="floatingInput">Descripcion de Comida</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="dato form-control" id="floatingInput" placeholder="5.000" min="50" @bind="@nuevoPrecio">
                    <label for="floatingInput">Precio de Comida</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-outline-info" data-bs-dismiss="modal" @onclick="@(modoEdicion ? ActualizarDato : AgregarDato)">@((modoEdicion ? "Actualizar" : "Agregar"))</button>
            </div>
        </div>
    </div>
</div>

<!--Mostrar Informacion-->

<div class="Muestra border border-primary shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="bloques-datos">

        @if (datos.Any())
        {
            @foreach (var dato in datos)
            {
                <div class="mesa border border-primary shadow-lg p-3 bg-body-tertiary rounded">
                    <div class="block @(selectedDato== dato ? "selected" : "")" @onclick="() => SelectItem(dato)" @ondblclick="() => DeselectDato()">
                        <img src="@dato.ImagenUrl" alt="Imagen">
                        <p class="nombre3"><strong class="espacio2">Nombre:</strong> @dato.Nombre</p>
                        <p class="nombre3"><strong class="espacio2">Descripcion:</strong> @dato.Descripcion</p>
                        <p class="nombre3"><strong>Precio:</strong> @dato.Precio.ToString("C")</p>
                    </div>
                    <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop" @onclick="(() => EditarDato(dato))">Editar</button>
                    <button class="btn btn-outline-danger" @onclick="(() => EliminarDato(dato))">Eliminar</button>
                </div>
            }
        }
        else
        {
            <center><p class="nombre3">No hay una Informacion de la Reserva Ingresada.</p></center>
        }
    </div>
</div>


@code {
    void Bienvenido()
    {
        NavigationManager.NavigateTo("/Bienvenido");
    }
    void Comidas()
    {
        NavigationManager.NavigateTo("/Comidas");
    }
    void Bebidas()
    {
        NavigationManager.NavigateTo("/Bebidas");
    }
    void Informacion()
    {
        NavigationManager.NavigateTo("/Informacion");
    }
    void Reservas1()
    {
        NavigationManager.NavigateTo("/Reservas");
    }
    void Cerrar()
    {
        NavigationManager.NavigateTo("/login");
    }
    void Vista()
    {
        NavigationManager.NavigateTo("/Comida");
    }

    bool modoEdicion = false;
    List<Dato> datos = new List<Dato>();
    Dato datoActual;
    Dato selectedDato = null;

    string nuevaImagenUrl;
    string nuevoNombre;
    decimal nuevoPrecio;
    string nuevaDescripcion;


    class Dato
    {
        public string ImagenUrl { get; set; }
        public string Nombre { get; set; }
        public decimal Precio { get; set; }
        public string Descripcion { get; set; }
    }

    void AgregarDato()
    {
        var nuevoDato = new Dato
            {
                ImagenUrl = nuevaImagenUrl,
                Nombre = nuevoNombre,
                Precio = nuevoPrecio,
                Descripcion = nuevaDescripcion,
            };

        datos.Add(nuevoDato);
        LimpiarCampos();
    }

    void EditarDato(Dato dato)
    {
        datoActual = dato;
        nuevaImagenUrl = dato.ImagenUrl;
        nuevoNombre = dato.Nombre;
        nuevoPrecio = dato.Precio;
        nuevaDescripcion = dato.Descripcion;
        modoEdicion = true;
    }

    void ActualizarDato()
    {
        datoActual.ImagenUrl = nuevaImagenUrl;
        datoActual.Nombre = nuevoNombre;
        datoActual.Precio = nuevoPrecio;
        datoActual.Descripcion = nuevaDescripcion;
        LimpiarCampos();
        modoEdicion = false;
    }

    void EliminarDato(Dato dato)
    {
        datos.Remove(dato);
    }

    void LimpiarCampos()
    {
        nuevaImagenUrl = string.Empty;
        nuevoNombre = string.Empty;
        nuevoPrecio = 0;
        nuevaDescripcion = string.Empty;
    }

    void SelectItem(Dato dato)
    {
        selectedDato = dato;
    }

    void DeselectDato()
    {
        selectedDato = null;
    }

}

<style>
    body {
        background-color: #EDFEFF;
    }

    .Mover {
        margin-left: 777px;
        margin-right: 100px;
    }

    .Centro {
        margin-top: 5px;
    }

    .mesa {
        background-color: #A4C7BC;
        margin-bottom: 50px;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        display: inline-block;
        text-align: center;
        margin: 20px;
    }

        .mesa img {
            width: 250px;
            height: 250px;
        }

    .nombrenav {
        color: #032C1F;
    }

    .Posicion {
        block-size: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 683px;
    }

    .Titulo {
        block-size: 250px;
        margin-top: 100px;
        margin-right: 300px;
        margin-left: 300px;
    }

    .Muestra {
        block-size: 700px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 100px;
        margin-left: 100px;
    }

    .nombre {
        color: #009EFF;
        margin-left: 100px;
        margin-right: 100px;
        font-style: italic;
    }

    .nombre2 {
        color: #009EFF;
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
        font-style: italic;
    }

    .boton {
        margin-top: 50px;
    }

    .block {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

        .block.selected {
            background-color: #7FC0AC;
        }

</style>
