@page "/Comida"

@inject NavigationManager NavigationManager

<!--NavBar-->
<Lunchsoft.Client.Compartido.Navbar></Lunchsoft.Client.Compartido.Navbar>



<!--Titulo-->

<div class="flex flex-row justify-center items-center w-full mt-5">
  <div class="flex flex-col items-center justify-center bg-gray-200 rounded-lg p-4 w-80">

    <h1 class="font-bold text-xl mb-4">Crear un nuevo platillo</h1>

    <div class="flex items-center justify-center w-full">

      <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-76 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-8 pb-8">
          <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Selecciona la imagen</span> o arrástrala</p>
          <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG o GIF (MAX. 800x400px)</p>
        </div>
        <input @bind="Imagen" id="dropzone-file" type="file" class="hidden" />
      </label>
    </div>

    <div class="w-full mt-2">
      <label for="nombre" class="block text-sm font-medium text-gray-900">Nombre del plato</label>
      <input @bind="Nombre" id="nombre" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Nombre" required>
    </div>

    <div class="mt-2 w-full">
      <label for="precio" class="block mb-2 text-sm font-medium text-gray-900">Precio</label>
            <input @bind="Precio" id="precio" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Precio" required>
    </div>

    <div class="mt-2 w-full">
      <label for="descripcion" class="block mb-2 text-sm font-medium text-gray-900">Descripción</label>
            <input @bind="Descripcion" id="descripcion" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Descripción" required>
    </div>

    <h5>@Result</h5>

    <button @onclick="Crear" type="button" class="mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 w-full self-center">
      Crear platillo
    </button>
  </div>
</div>


<!--Mostrar Informacion-->
<div class="Muestra border border-primary shadow-lg p-3 mb-5 bg-body-tertiary rounded">
<div class="menu-list-container">
    @if (menus != null && menus.Any())
    {
        @foreach (var menu in menus)
        {
            <div class="menu-item">
                    <img class="menu-item-img" src="@menu.Imagen" alt="@menu.Nombre">
                    <div class="menu-item-nombre">@menu.Nombre</div>
                    <div class="menu-item-precio">$@menu.Precio</div>
                    <div class="menu-item-descripcion">@menu.Descripcion</div>
            </div>
        }
    }
    else
    {
        <div>No se encontraron elementos en el menú.</div>
    }
</div>
</div>
@code {
    string Imagen = "";
    string Nombre = "";
    string Precio = "";
    string Descripcion = "";
    string Result = "";
    string referencia = "";
    string codigo = "";

    async Task Crear()
    {
        try
        {
            if (Imagen == "" || Nombre == "" || Precio == "" || Descripcion == "")
            {
                Result = "Porfavor llena los campos";
            }
            else
            {
                var nuevoMenu = new Lunchsoft.Shared.Models.Menus
                    {
                        Imagen = Imagen,
                        Nombre = Nombre,
                        Precio = int.Parse(Precio),
                        Descripcion = Descripcion
                    };

                var resul = await Lunchsoft.Shared.Acceso.Menus.CrearMenu(nuevoMenu);

                if (!resul)
                {
                    Result = "No se pudo crear el empleado.";
                }
                else
                {
                    Result = "Menu creado con exito";
                }
                StateHasChanged();
            }
        }
        catch
        {
            Result = "Error al crear el menu";
        }
    }
    public List<Shared.Models.Menus> menus;

    protected override async Task OnInitializedAsync()
    {
        menus = await Shared.Acceso.Menus.Obtener();
    }

    
}

<style>
    .producto {
        display: inline-block;
        width: 200px;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

        .producto img {
            max-width: 100%;
            height: auto;
        }

        .producto h3 {
            margin: 5px 0;
        }

        .producto p {
            font-size: 14px;
            margin: 5px 0;
        }

    body {
        background-color: #f2f2f2;
    }

    .Mover {
        margin-left: 755px;
        margin-right: 100px;
    }

    .Centro {
        margin-top: 5px;
    }

    .mesa {
        background-color: #A4C7BC;
        margin-bottom: 50px;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        display: inline-block;
        text-align: center;
        margin: 20px;
    }

        .mesa img {
            width: 250px;
            height: 250px;
        }

    .nombrenav {
        color: #032C1F;
    }

    .Posicion {
        block-size: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 683px;
    }

    .Titulo {
        block-size: 250px;
        margin-top: 100px;
        margin-right: 300px;
        margin-left: 300px;
    }

    .Muestra {
        block-size: 700px;
        margin-top: 50px;
        margin-bottom: 100px;
        margin-right: 100px;
        margin-left: 100px;
    }

    .nombre {
        color: #0096F1;
        margin-left: 100px;
        margin-right: 100px;
        font-style: italic;
    }

    .nombre2 {
        color: #0096F1;
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
        font-style: italic;
    }

    .boton {
        margin-top: 50px;
    }

    .block {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

        .block.selected {
            background-color: #7FC0AC;
        }

    .menu-list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }

    .menu-item {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .menu-item-img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }

    .menu-item-nombre {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
    }

    .menu-item-precio {
        font-size: 18px;
        color: #007bff;
    }

    .menu-item-descripcion {
        font-size: 14px;
    }
</style>